*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    height: 100vh;
}

.sidebar{
    background-color: #0a1014;
    display: flex;
    flex-direction: column;
    width: 410px;
    
    padding: 20px 0px;
    
    
    
}

.main-section{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100vh;
    
    
}


.main-page{
    display: flex;
    flex: 1;
    height: 100vh;
    

}

/* Default page */

.default-page {
    top: 0;
    left: 410px; 
    height: 100vh;
    flex: 1;
    background-color: rgb(3, 70, 79);
} 

.chat-area {
    top: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #CCC;
    border-left: 1px solid #423e3e;
    display: none
    
}

/* contact-details */
.contact-details{
    background-color: #0a1014;
    width:410px;
    height: 100%;
    padding: 2px 0;
    top: 0;
    right: 0;
    border-left: 1px solid #423e3e;
    display: none;
    transition: 0.5s;
}


@media only screen and (max-width: 600px)  {
    
    .sidebar{
        position: absolute;
        top:0 ;
        right: 0;
        left:0;
        bottom:0;
        width: 100%;
        height: 100%;
    }
    .chat-area{
        
        position: absolute;
        top:0 ;
        right: 0;
        left:0;
        bottom:0;
        width: 100%;
        height: 100%;
        
    }
    .contact-details{
        position: absolute;
        top:0 ;
        right: 0;
        left:0;
        bottom:0;
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }
    .default-page{
        display: none;
    }
  }

  /* @media only screen and (max-width: 768px) {
    .sidebar{
        width: 100%;
        transition: 2s; */
        
    /* }
    .default-page{
        display: none;
        
    } */
    /* .main-page{
        
        display: none;
    }
  } */



.my-details{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 1rem;
    height: 10%;
    padding: 2px 0px;
}

.image img{
    margin: 0 auto;
    display: block;
    width: 3rem;
    border-radius: 50%;
    height: auto;
}

.contact-container{
    overflow-y: scroll;
    transition: all 0.5s ease-in;
    height: 90vh
}

.name-paragraph{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}


.contact{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 72px;
    border-top: 1.5px solid #423e3e;
    position: relative;
    box-sizing: border-box;
    cursor:pointer;
}

.contact:last-child {
    border-bottom: 1px solid #423e3e;
}
.contact:hover{
    background-color: #423e3e;
}

.img img{
margin: 0 auto;
display: block;
width: 3rem;
border-radius: 50%;
height: 3rem;
}

h3{
    font-size:2 rem ;
    font-weight: 600;
}


 .paragraph-text{
    /* border-bottom-style: solid;
    border-width: thin;
    border-color: darkgray; */
    border: 300px;
    
 }




.chat-bar{
    height: 60px;
   
    background-color: #0a1014;
    display: flex;
   justify-content: space-between;
   
}

.chat-bar p{
    margin: 0;
    float: right;
    margin-left: 20px;
    color: white;
    margin-top: 20px;
}

.back-arrow{
float: left;
height: 60px;
line-height: 60px;
margin-right: 10px;
display: none;
}

.back-btn{
display: inline-block;
margin: 0 15px 0 15px;
font-size: 24px;
color: white;
cursor: pointer;
background-color:#0a1014 ;
border: none;
}

.contact-info{
    display: flex;
    margin-left: 5px;
    padding: 5px;
    cursor:pointer;
}

.contact-info .contact-name{
    font-size: 16px;
    height: 50px;
    line-height: 60px;
    
}

#chat-options {
    float: right;
    height: 60px;
    line-height: 60px;
    margin-right: 10px;
}

#chat-options li {
    display: inline-block;
    margin: 0 15px 0 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

#msg-container{
    background-color: #844a08;
    height: calc(100% - 120px);
    overflow-y: auto;
    padding-bottom: 10px;
    
}


#msg-container p{
    margin: 0;
}

.chat-msg{
   
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 30px 80px;
    box-sizing: border-box;
}

.chat-msg p{
    display: block;
    color: white;
    font-size: 14px;
    padding: 7px;
    border-radius: 7px;
    position: relative;
    width: 200px;
}

.received-msg{
    background-color:#0a1014;;
}

.received-msg:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 17px solid transparent;
    border-right: 17px solid #0a1014;
    position: absolute;
    top: 0;
    left: -10px;
}

.sent-msg{
    background-color: #0a1014;
    float: right;
}

.sent-msg:after {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #0a1014;
    position: absolute;
    top: 0;
    right: -10px;
}

.input-msg {
    background-color: #0a1014;
    border-left: 1px solid #423e3e;
    height: 60px;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
}

#user-input {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:#423e3e;
    border: none;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    width: calc(89% - 20px);
    font-size: 16px;
}

.btn  {
    font-size: 24px;
    background-color:#0a1014 ;
    color: white;
    right: 10px;
    border: none;
    height: 60px;
    line-height: 60px;
    position: absolute;
    padding-right: 20px;
    cursor:pointer;
}


.close-btn{
    font-size: 24px;
    background-color:#0a1014 ;
    color: white;
    right: 10px;
    border: none;
    position: absolute;
    padding-right: 20px;
    padding-top: 2px;
    cursor:pointer;
}

.details-img{
    padding-top: 50px;
}

.contact-details img{
    
    margin: 0 auto;
    display: block;
    width: 8rem;
    border-radius: 50%;
    height: 8rem;
 
}

.details-text{
    padding: 2px;
    margin: 50px;
    text-align: center;
    border: 300px;
    display: block;
}

.user-name{
    font-size:2rem ;
    font-weight: 600;
    color:#423e3e;
    top: 20px;
}

.user-number{
    
    font-weight: 600;
    color:#423e3e;
}


.first-display{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    
}

/* for tablet
@media only screen and (min-width: 600px) {
    .main-page  {width : 100%}
    .sidebar{ display: none;}
} */

/* for mobile
@media only screen and (min-width: 768px) {
.main-page  {width : 100%}
.sidebar{ display: none;}
} */